<div>
  Page: <%= @page %> of <%= @twits[:pages] %> | 
  <% if @page > 1 %>
    <%= link_to 'Prev', :params => {:page => @page-1}%>
  <% else %>
    Prev
  <% end %>|
  <% if @twits[:pages] > @page %>
    <%= link_to 'Next', :params => {:page => @page+1}%>
  <% else %>
    Next
  <% end %>
</div>
