<nav id="logout"><%= link_to 'Logout', :controller => "o_auth", :action => "logout" %></nav>
<h1>Active Followees</h1>
<div style="padding-bottom: 10px"><%= link_to 'Refresh', :action => 'refresh' %></div>

<% if @twits[:pages] > 0 %>
  <%= form_tag '/user/unfollow', :method =>"post" do %>
  <table class="twit_table">
    <%= render :partial => 'twits', :locals => {:action_name => "Unfollow", :twits => @twits[:followees]} %>
  <% end %>
  <td/><td><%= submit_tag "Unfollow Ids" %></td>
  </table>

  <%= render :partial => "pagelink" %>
<% else %>
  <p>You have no one you are following right now! You should add some people by searching below.</p>
<% end %>
<h3>Find more followees!</h3>
<div>
  <%= form_tag '/user/search', :method =>"get" do %>
    Search term:  <%= text_field_tag 'term' %>
    <%= submit_tag "Search" %>
  <% end %>
</div>
