<nav id="logout"><%= link_to 'Logout', :controller => "o_auth", :action => "logout" %></nav>
<h1>Results</h1>
    <%= form_tag '/user/follow', :method =>"post" do %>
      <table class="twit_table">
        <%= render :partial => 'twits', :locals => {:action_name => "Follow", :twits => @found_twits} %>
      <td/><td><%= submit_tag "Follow Ids" %></td>
      </table>
    <% end %>

