<div id="description">Boyds helps you manage and expand your Twitter contacts in batches.</div>

<div id="call-to-action">To begin: <span style="vertical-align: text-bottom;"><%= link_to image_tag("sign-in-with-twitter-l.png"), :action => "login"%></span></div>

