/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body { background-color: rgb(218,230,255); }

#titlebar { width: 500px; top: 40%; height: 2em; font-family: sans-serif; padding-left: 10px; padding-top: 10px; font-weight: bold; font-size: x-large; color: aqua; background-color: navy; }

