/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

nav#logout { width: 500px; text-align: right; }

table.twit_table {
  width: 500px;
} 

tr.twit_list div {
  display: block;
  width: 100%
}

ul.twit_list span.twit_name {
  display: inline-block;
}

ul.twit_list span.twit_action {
  display: inline-block;
  text-align: right;

}
