/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

#description {
  font-size: x-large;
  color: navy;
  padding-left: 40px;
  padding-top: 75px;
  left: 30px;
  width: 500px;
}

#call-to-action {
  font-size: large;
  padding-top: 75px;
}
