<!DOCTYPE html>
<html>
<head>
  <title>Boyds</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="titlebar">Boyds</div>
  <% if flash[:error] %>
    <div><%= flash[:error] %></div>
  <% end %>
<%= yield %>

</body>
</html>
